@charset "utf-8";

*, body {
    font-family: 'Roboto', sans-serif !important;
}

h1 {
    font-size: 1.3em;
    font-weight: bold;
}

h2 {
    font-size: 1.15em;
    font-weight: bold;
}

h3 {
    font-size: 1.1em;
}

// zzz {
//     color: #ffb374;
//     color: #e6ff74;
//     color: #5aecff;
//     color: #126e8a;
// }